.item_wrapper{
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
	margin-bottom: 25px;
}
.item_wrapper h3 {
    font-size: 20px;
    color: #111;
    text-transform: capitalize;
    font-weight: 600;
}
.item_details{
	padding: 15px 20px;
}
td>span.btn{
	margin-right: 5px;
}

.totalPrice {
	color: #fff;
	font-weight: 500;
}
.removeItem,
.updateItem{
	cursor: pointer;
}